
@{
    ViewBag.Title = "EstadoFinancieroFechas";
    Layout = "~/Views/Shared/WebPage1.cshtml";
}

<div class="card">
    <div class="card-header">
        Estado Financiero por Fechas
    </div>
    <div class="card-body">
        <form action="@Url.Action("ListarEstadoFinancieroFechas","Finanza")" method="post">
            <div class="mb-3">
                <label class="form-label">Fecha Inicial</label>
                <input name="fecha_ini" type="date" class="form-control">

            </div>
            <div class="mb-3">
                <label class="form-label">Fecha Final</label>
                <input name="fecha_fin" type="date" class="form-control">

            </div>
            <button type="submit" class="btn btn-primary">Generar</button>
        </form>
    </div>
</div>
