
@{
    ViewBag.Title = "BuscarIdFicha";
    Layout = "~/Views/Shared/WebPage1.cshtml";
}

<form action="@Url.Action("ActualizarResultadosFicha","Cita_Ficha")" method="post" class="card text-center justify-content-md-center" style="width: 50rem; margin-left:19%; margin-top:10%">
    <div>
        <label class="form-label">Buscar Numero de Cita/Ficha</label>
        <input name="idFichaDetalle" type="number" class="form-control" placeholder="Numero de Cita/Ficha">
    </div>
    <button type="submit" class="btn btn-primary">BUSCAR</button>
</form>

